---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import {TicketMethod, TicketMethodType} from '~/components/atoms/TicketMethod';
import Markdown from '@astrojs/markdown-component';
import { Image } from '@astrojs/image/components';
// import { v4 as uuidv4 } from 'uuid';
import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';

const meta = {
  title: `${SITE.title}: Event tickets`,
  description: 'Grab your tickets to the best event of 2023, MetaFest!',
  canonical: getCanonical(getHomePermalink()),
};



export const ticketMethods: TicketMethodType[] = [
  {
    title: 'Dump Fiat',
    price: {
			standard: 200,
			patron: 420
		},
		discount: 25,
		isEarlyBird: true,
    summary: 'Want to dump some fiat for a MetaFest ticket? This is the place for you.',
		method: 'fiat',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Crypto',
    price: {
			standard: 200,
			patron: 420
		},
		discount: 25,
		isEarlyBird: true,
    summary: 'Of course, we accept all mainstream crypto. Our crypto payment provider is ![Alt](https://paycek.io/static/img/logo.svg "Paycek") and they list all of the accepted coins in [their FAQ](https://paycek.io/faq).',
    method: 'crypto',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Seeds',
    price: {
			standard: 200,
			patron: 420
		},
		discount: 25,
		isEarlyBird: true,
    summary: 'Been hodling Seeds? Use them to buy a ticket.',
    method: 'seeds',
		ctaText: 'Buy a ticket'
  },
	{
		title: 'Be useful',
		price: {
			crew: 'Free',
		},
		discount: 100,
		summary: "Don't want to pay? Apply to speak, help with promoting the event, cleaning etc.",
		method: 'crew',
		ctaText: 'Apply'
	},
	{
		title: 'Be a MetaGamer',
		price: {
			metagamer: 'Free',
		},
		discount: 100,
		summary: 'Silver league & above in MetaGame? You get to join for free.',
		method: 'metagamer',
		ctaText: 'Claim'
	},
	{
		title: 'Sponsor or Partner',
		price: {
			sponsor: 'POA'
		},
		discount: 0,
		isEarlyBird: false,
		summary: 'Want to have your project sponsor or help MetaFest? Sponsors & partners get a few tix. For more info on the festival and details on pricing and benefits, check out the [sponsors page](/event-sponsors).',
		method: 'sponsor',
		ctaText: 'Apply'
	}
];


---

<Layout {meta}>
  <div class="pt-8"></div>

  <SponsorsSection
    title="Enter MetaFest"
    precis="No freeloaders at MetaFest! Luckily, there's plenty of ways to get in."
		full
		alt
  >
	<div class="w-full text-center mt-5">
		<p class="text-xl md:text-3xl text-off-white text-center">We're crossing the <span class="inline-flex -rotate-12 font-bold">'t'</span>s &amp; dotting the <span class="inline-flex rotate-12 font-bold">'i'</span>s before the event announcement.</p>
		<p class="text-xl md:text-3xl text-off-white text-center">The buy buttons will be enabled v soon!! Check back tomorrow.</p>
	</div>

    <div class="ticket-methods grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 items-stretch mx-auto mt-14 mb-20 md:mb-0 gap-5 md:gap-8">
      {ticketMethods && ticketMethods.map((method) => <TicketMethod {...method} client:only />)}
    </div>

  </SponsorsSection>

  <div class="absolute h-[50vh] w-full z-[9] inset-0 top-auto overflow-y-hidden">
    <div class="relative w-full h-full md:translate-y-1/2" x-data="{shown: false}" x-intersect:once="shown = true">
      <Plants />
    </div>
  </div>

	<ThreeD client:load />
</Layout>
