---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import {TicketMethod, TicketMethodType} from '~/components/atoms/TicketMethod';
import Markdown from '@astrojs/markdown-component';
import { Image } from '@astrojs/image/components';
// import { v4 as uuidv4 } from 'uuid';
import mgLogo from '~/assets/images/mg-logo.gif';
import Plants from '~/components/widgets/Plants.astro';

const meta = {
  title: `${SITE.title}: Event tickets`,
  description: 'Grab your tickets to the best event of 2023, MetaFest!',
  canonical: getCanonical(getHomePermalink()),
};



export const ticketMethods: TicketMethodType[] = [
  {
    title: 'Dump Fiat',
    price: {
			standard: 150,
			patron: 420
		},
		discount: 0,
    summary: 'Want to dump some fiat for a MetaFest ticket? This is the place for you.',
		method: 'fiat',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Crypto',
    price: {
			standard: 150,
			patron: 420
		},
		discount: 0,
    summary: 'Of course, we accept crypto.',
    method: 'crypto',
		ctaText: 'Buy a ticket'
  },
  {
    title: 'Buy with Seeds',
    price: {
			standard: 150,
			patron: 420
		},
		discount: 10,
    summary: 'We also give a discount for those paying with Seeds.',
    method: 'seeds',
		ctaText: 'Buy a ticket'
  },
	{
		title: 'Be useful',
		price: {
			crew: 'Free',
		},
		discount: 100,
		summary: "Don't want to pay? Apply to speak, help with promoting the event, cleaning etc.",
		method: 'crew',
		ctaText: 'Apply'
	},
	{
		title: 'Be a MetaGamer',
		price: {
			metagamer: 'Free',
		},
		discount: 100,
		summary: 'Silver league & above in MetaGame? You get to join for free.',
		method: 'metagamer',
		ctaText: 'Claim'
	},
	{
		title: 'Sponsor or Partner',
		price: {
			sponsor: 'POA'
		},
		discount: 0,
		summary: 'Want to have your project sponsor or help MetaFest? sponsors & partners get a few tix',
		method: 'sponsor',
		ctaText: 'Apply'
	}
];


---

<Layout {meta}>
  <div class="pt-32"></div>
  <Image
    src={mgLogo}
    alt="3D"
    loading="lazy"
    quality={100}
    width={512}
    height={512}
    layout="responsive"
    class="fixed top-20 w-full left-0 xl:left-1/4 xl:right-1/4 xl:w-1/2 z-[9] opacity-5 motion-reduce"
  />

  <SponsorsSection
    title="Enter MetaFest"
    precis="No freeloaders at MetaFest! Luckily, there's plenty of ways to get in."
		full
		alt
  >
		<!-- <div class="ticket-info mx-auto">
			<h3>Ticket types</h3>

			<ul>
				<li><strong>Standard ticket:</strong> Standard ticket for MetaFest. Includes access to all sessions, workshops, and events.</li>
				<li><strong>Patron ticket:</strong> Patron ticket for MetaFest. Includes access to all sessions, workshops, and events, plus merch & perks.</li>
				<li><strong>Sponsor & Partners tickets:</strong> Sponsor / Partner ticket for MetaFest. Includes access to all sessions, workshops, and events, plus multiple tickets, perks, etc. See the <a href="/event-sponsors">Sponsors page</a> for further details.</li>
			</ul>

		</div>
		</SponsorsSection>

		<SponsorsSection
		title="Buy a ticket"
		precis="There are a few ways to get a ticket to MetaFest. Choose the one that suits you best."
		full
		alt
	> -->

    <div class="ticket-methods grid grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3 items-stretch mx-auto mt-14 gap-8">
      {ticketMethods && ticketMethods.map((method) => <TicketMethod {...method} client:only />)}
    </div>
  </SponsorsSection>

  <div class="absolute h-[50vh] w-full z-[9] inset-0 top-auto overflow-y-hidden">
    <div class="relative w-full h-full translate-y-1/2" x-data="{shown: false}" x-intersect:once="shown = true">
      <Plants />
    </div>
  </div>

	<ThreeD client:load />
</Layout>
