---
import { SITE, earlyBirdEnds } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import ThreeD from '~/components/widgets/ThreeD';
import SponsorsSection from '~/components/core/SponsorsSection.astro';
import { TicketMethod, TicketMethodType } from '~/components/atoms/TicketMethod';
// import { v4 as uuidv4 } from 'uuid';
import socialImage from '~/assets/images/socials/metafest-shared.jpg';
import Plants from '~/components/widgets/Plants.astro';
import { Icon } from 'astro-icon';
import { DateTime } from 'luxon';

export const earlyBirdExpiry = earlyBirdEnds;
export const earlyBirdShortFormat = DateTime.fromISO(earlyBirdExpiry).toLocaleString(DateTime.DATE_SHORT);
export const earlyBirdExpiresDays = Math.round(DateTime.fromISO(earlyBirdExpiry).diffNow('days').toObject().days);
export const isEarlyBirdValid = DateTime.fromISO(earlyBirdExpiry) < DateTime.now();

const meta = {
	title: `${SITE.title}: Event tickets for those in the know!`,
	description: `If you have a discount code, go through here to pick up your MetaFest ticket.`,
	canonical: getCanonical(getHomePermalink()),
	image: socialImage,
};

export const ticketMethods: TicketMethodType[] = [
	{
		title: 'Standard',
		price: {
			standard: 200,
		},
		discount: 0,
		isEarlyBird: false,
		summary: 'Discount applied at checkout!',
		method: 'discounts',
		ctaText: 'Buy a ticket',
	},
	{
		title: 'Patron',
		price: {
			patron: 420,
		},
		discount: 0,
		isEarlyBird: false,
		summary: 'Discount applied at checkout!',
		method: 'discounts',
		ctaText: 'Buy a ticket',
	},
];

export const expiredMessage = `Don't miss out!!

Flights, and Accommodation in and around Pula are limited.`;
---

<Layout {meta}>
	<div class="pt-8"></div>

	<SponsorsSection
		title="If you know, you know..."
		precis="Got a promo code? Buy your MetaFest ticket at a discounted rate!"
		full
		alt
	>
		<div
			class="ticket-methods grid grid-cols-1 md:grid-cols-2 items-stretch max-w-4xl mx-auto mt-14 mb-20 lg:mb-16 gap-5 md:gap-8"
		>
			{ticketMethods && ticketMethods.map((method) => <TicketMethod {...method} client:only />)}
		</div>
		<p class="text-center text-off-white text-xl xl:text-3xl">
			Not ready? Got questions? <a
				href="https://www.notion.so/MetaFest-FAQ-3437dd50c6164011bf01d07d81f18d30"
				target="_blank"
				rel="nofollow"
				class="group text-primary hover:underline">Read the FAQ</a
			> then come & <a
				href="https://t.me/+qIDukhuLnwg5ZTI0"
				target="_blank"
				rel="nofollow"
				class="group text-primary hover:underline"
				>join the conversation <Icon name="mdi:telegram" class="w-8 h-8 xl:w-16 xl:h-16 inline-flex text-cyan-500" />
			</a>
		</p>
	</SponsorsSection>

	<div class="absolute h-[50vh] w-full z-[9] inset-0 top-auto overflow-y-hidden">
		<div class="relative w-full h-full md:translate-y-1/4" x-data="{shown: false}" x-intersect:once="shown = true">
			<Plants />
		</div>
	</div>

	<ThreeD client:visible />
</Layout>
