---
---

	<div class="max-w-6xl mx-auto px-4 sm:px-6">

		<div class="py-12 md:py-20">
			<div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
				<div class="mt-6">
					<a
						class="btn btn-ghost text-white mb-4 sm:mb-0 bg-gradient-primary text-4xl px-8 py-10 leading-[0] inline-flex items-center rounded-xl"
						href="https://github.com/metafam"
						target="_blank"
						rel="noopener"
					>
						Join now
					</a>
				</div>
			</div>
		</div>
	</div>
