---
// import { Icon } from 'astro-icon';
// import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

// const links = [
// 	{
// 		title: 'MetaFest',
// 		items: [
// 			{ title: 'About', href: '/#about' },
// 			{ title: 'Location', href: '/#location' },
// 			{ title: 'Program', href: '/#program' },
// 			{ title: 'Speakers', href: '/#speakers' },
// 			{ title: 'Sponsors', href: '/#sponsors' },
// 		],
// 	},
// 	{
// 		title: 'MetaGame',
// 		items: [
// 			{ title: 'Join', href: 'https://metagame.wtf', external: true },
// 			{ title: 'Quests', href: 'https://metagame.wtf/quests', external: true  },
// 			{ title: 'Players', href: 'https://metagame.wtf/players', external: true  },
// 			{ title: 'Wiki', href: 'https://wiki.metagame.wtf', external: true  },
// 			{ title: 'Forum', href: 'https://forum.metagame.wtf', external: true  },
// 		],
// 	},
// ];

// const social = [
// 	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: '#' },
// 	{ label: 'Discord', icon: 'tabler:brand-discord', href: '#' },
// 	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/metafam' },
// 	{ label: 'RSS', icon: 'tabler:rss', href: getRelativeLink('/rss.xml') },
// ];
---

<footer class="group absolute w-full xl:h-32 2xl:h-32 bottom-0 left-0 z-10 ">
	<div class="absolute bottom-0 left-0 w-full bg-transparent backdrop-blur-2xl group-hover:bg-secondary-alpha-60 transition duration-300 ease-in-out opacity-0 group-hover:opacity-100 invisible group-hover:visible">
		<div class="max-w-6xl mx-auto h-auto px-4 sm:px-6">

			<div class="md:flex md:items-center md:justify-between py-6 md:py-8">

				<div class="text-sm text-white md:order-1">
					&copy; 2022 MetaFam. All rights reserved.
				</div>
				<div class="text-sm text-white mr-4 dark:text-slate-400">
					Made with 💚 by <a class="text-blue-600 hover:underline dark:text-gray-200" href="https://luxumbra.dev/"> luxumbra</a>·
				</div>
			</div>
		</div>
	</div>
</footer>
