---
import './header.css';

import { Icon } from 'astro-icon';
// import ToggleTheme from '~/components/core/ToggleTheme.astro';
---

<header class="header" >
  <div class="header__primary">
    <menu class="header__menu--desktop hidden md:flex">
      <a href="/#about">About</a>
      <a href="/#location">Location</a>
      <a href="/#program">Program</a>
      <a href="/#start">
        <Icon name="logo" className="logo min-w-fit w-32 h-auto" />
      </a>
      <a href="/#speakers">Speakers</a>
      <a href="/#sponsors">Sponsors</a>
      <a href="/#join">Join</a>
    </menu>

    <a href="/#start" class="block md:hidden transition-all duration-200">
      <Icon name="logo" className="logo min-w-fit w-20 h-auto" />
    </a>
  </div>
</header>



<script>
  if (typeof window !== 'undefined') {
    const header = document.querySelector('.header');

    // function to toggle the header class on scroll
    const scrollHeader = () => {
      console.log('scrolling');
      if (window.scrollY > 0) {
        header.classList.add('header--scrolled');
      } else {
        header.classList.remove('header--scrolled');
      }
    };

    window.addEventListener('scroll', scrollHeader);
  }
</script>
