---
import { Icon } from 'astro-icon';
// import ToggleTheme from '~/components/core/ToggleTheme.astro';
import ToggleMenu from '~/components/core/ToggleMenu.astro';

import './header.css';
---

<header class="header relative">
	<div class="header__primary">
		<menu class="header__menu--desktop hidden md:flex">
			<a href="/#about">About</a>
			<a href="/#location">Location</a>
			<a href="/#program">Program</a>
			<a href="/#start">
				<Icon name="logo" className="logo min-w-fit w-32 h-auto" />
			</a>
			<a href="/#speakers">Speakers</a>
			<a href="/#sponsors">Sponsors</a>
			<a href="/#join">Join</a>
		</menu>

		<menu class="header__menu--mobile flex flex-col h-screen md:hidden z-50">
			<a href="/#about">Abouty</a>
			<a href="/#location">Location</a>
			<a href="/#program">Program</a>
			<a href="/#start">
				<Icon name="logo" className="logo group min-w-fit w-32 h-auto" />
			</a>
			<a href="/#speakers">Speakers</a>
			<a href="/#sponsors">Sponsors</a>
			<a href="/#join">Join</a>
		</menu>
	</div>
	<div class="inline-flex items-center absolute h-full top-0 right-8 md:hidden">
		<ToggleMenu />
	</div>
</header>

<script>
	// import { gsap } from 'gsap';
	if (typeof window  !== 'undefined') {
		const header = document.querySelector('.header');
		// function to toggle the header class on scroll
		const toggleHeader = () => {
			console.log('scrolling');
			if (window.scrollY > 0) {
				header.classList.add('header--scrolled');
			} else {
				header.classList.remove('header--scrolled');
			}
		};

		// add event listener
		window.addEventListener('scroll', toggleHeader);
	}
</script>
