---
import './header.css';

import { Icon } from 'astro-icon';
// import ToggleTheme from '~/components/core/ToggleTheme.astro';
---

<header class="header" x-data="{ shown: false }"
  x-intersect="shown = true"
  x-intersect:end="shown = false"
>
  <div class="header__primary">
    <menu class="header__menu--desktop hidden md:flex">
      <a href="/#about">About</a>
      <a href="/#location">Location</a>
      <a href="/#program">Program</a>
      <a href="/#start">
        <Icon name="logo" className="logo min-w-fit w-32 h-auto" />
      </a>
      <a href="/#speakers">Speakers</a>
      <a href="/#sponsors">Sponsors</a>
      <a href="/#join">Join</a>
    </menu>

    <a href="/#start" class="block md:hidden transition-all duration-200 invisible"
      x-show="shown"
      x-bind:class="{ 'invisible': !shown, 'visible': shown }"
      x-transition:enter="transition ease-out duration-200 "
      x-transition:enter-start="opacity-0 transform translate-y-3"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-200"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-3"
    >
      <Icon name="logo" className="logo min-w-fit w-20 h-auto" />
    </a>
  </div>
</header>



<script>
  if (typeof window !== 'undefined') {
    const header = document.querySelector('.header');

    // function to toggle the header class on scroll
    const scrollHeader = () => {
      console.log('scrolling');
      if (window.scrollY > 0) {
        header.classList.add('header--scrolled');
      } else {
        header.classList.remove('header--scrolled');
      }
    };

    window.addEventListener('scroll', scrollHeader);
  }
</script>
