---
import { Icon } from 'astro-icon';
import Section from '../core/Section.astro';

export interface ChatMessage {
  user: string;
  message: string;
  status: 'sent' | 'delivered' | 'read';
}

export const metafestConvo = [
  {
    user: 'nova',
    message: 'Yooo, going to MetaFest?',
    status: 'sent',
  },
  {
    user: 'anon',
    message: 'WTF is MetaFest?',
    status: 'sent',
  },
  {
    user: 'nova',
    message: 'A conference that’s not a conference!',
    status: 'sent',
  },
  {
    user: 'anon',
    message: 'Lolwut?',
    status: 'sent',
  },
  {
    user: 'nova',
    message: 'Ya, you go to conferences to meet people, hang out with frens & have fun - not just listen to talks, aye?',
    status: 'sent',
  },
  {
    user: 'anon',
    message: 'So whats it about?',
    status: 'sent',
  },
  {
    user: 'nova',
    message: 'Having fun & coping with trying to build a better future amidst global economical, ecological & meaning crises lol',
    status: 'sent',
  },
  {
    user: 'nova',
    message: 'Topics & workshops on anything from decentralized organizing & regeneration to walking the tightrope, juggling & guided meditation.',
    status: 'sent',
  },
  {
    user: 'nova',
    message: 'Plus a shitload of random optional activities like going to the national park, water park, adrenaline park, paintball &hellip; AND a week-long bus trip down the coast to Dubrovnik 👀',
    status: 'sent',
  },
];
---

<Section sectionId="about">
  <div class="section__content flex justify-center">
    <div
      x-show="shown"
      class="invisible"
      x-bind:class="{ 'invisible': !shown }"
      x-transition:enter="transition ease-out duration-500"
      x-transition:enter-start="opacity-0 transform translate-y-8"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-500"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-8"
    >
      <h2>About the festival</h2>
      <p>Talks, workshops, games & music; a festival for DAOists and Regens.</p>
      <div class="chat relative flex max-w-4xl p-0">
        <div class="chat__content w-full h-full rounded-2xl bg-gradient-to-r from-secondary to-secondary-dark p-6 z-10">
          <ol class="chat__messages flex flex-col w-full">
            {
              metafestConvo &&
                metafestConvo.map((message) => (
                  <li class={`chat__message relative ${message.user === 'nova' ? 'self-start nova' : 'self-end anon'}`}>
                    <div
                      class={`chat__message__content relative p-3 bg-gradient-to-br ${
                        message.user === 'nova'
                          ? 'from-[#1D3037] via-[#1D3037] to-secondary-dark'
                          : 'from-accent-alpha-30 via-[#206D69] to-[#206D69]'
                      } rounded-lg z-10`}
                    >
                      <div class="chat__message__content__text">
                        <p class="mb-0 text-primary font-medium">{message.message}</p>
                      </div>
                    </div>
                    <div
                      class={`chat__message__marker absolute w-[51px] h-[15px] ${
                        message.user === 'nova' ? '-left-[9px]' : '-right-[18px]'
                      } -bottom-[3px] z-0`}
                    >
                      <Icon name={message.user === 'nova' ? 'speech-anon' : 'speech-nova'} />
                    </div>
                  </li>
                ))
            }
          </ol>
        </div>
        <div
          class="chat__bg absolute -inset-[1px] rounded-2xl bg-gradient-to-br from-accent via-accent to-secondary -z-10"
        >
        </div>
      </div>
    </div>
  </div>
</Section>
