---
import { Icon } from 'astro-icon';
import Section from '../core/Section.astro';
---

<Section sectionId="about">
  <div class="section__content flex justify-center">
    <div
      x-show="shown"
      x-bind:class="{ 'invisible': !shown }"
      x-transition:enter="transition ease-out duration-500"
      x-transition:enter-start="opacity-0 transform translate-y-8"
      x-transition:enter-end="opacity-100 transform translate-y-0"
      x-transition:leave="transition ease-in duration-500"
      x-transition:leave-start="opacity-100 transform translate-y-0"
      x-transition:leave-end="opacity-0 transform translate-y-8"
    >
      <h2>About the festival</h2>
      <p>Talks, workshops, games & music; a festival for DAOists & Regens.</p>
      <div class="max-w-4xl">
      <p> A conference that’s not a conference!</p>

      <p>Why?</p>

      <p>‘Cuz most people go to conferences to meet like-minded people, hang out with internet friends & have fun - not just listen to talks.</p>

      <p>Topics will be ranging anywhere from self-organization & problem-solving to self-improvement & world-improvement.</p>

      <p>Yep! Anything from DAOs & ReFi to walking the tightrope, juggling & guided meditation.</p>
    </div>
    </div>
  </div>
  <div class="section__decoration absolute opacity-50 md:opacity-100 right-0 top-36 md:top-1/4 z-0">
    <Icon name="archway" className="w-64 md:w-40" />
  </div>
</Section>
