---
import { Icon } from 'astro-icon';
// import Section from '../core/Section.astro';
import SponsorsSection from '~/components/core/SponsorsSection.astro';

export interface ChatMessage {
  user: string;
  message: string;
  status: 'sent' | 'delivered' | 'read';
}

export const aboutSections = [
  {
    title: 'A Merge of Cultures & Minds',
    items: [
      'Join a mix of DAOists, regens, pre-DAO DOers & pre-ReFi regens',
      'Soak in a fusion of revolutionary thinking, decentralized organizing & personal growth',
    ],
    img: '/assets/images/mj/minds-cultures-3.png',
  },
  {
    title: 'Empowering Topics & Workshops',
    items: [
      'Dive deep into metacrisis, coordination &  regeneration - or the deep blue sea',
      'Learn best DAOing practices or get your work-life balance w/ tightrope & meditation',
    ],
    img: '/assets/images/mj/aztec-yay-3.png',
  },
  {
    title: 'Networking & Adventures',
    items: [
      'Forge lasting connections while exploring the national park or battling in paintball',
      'Consider a week-long bus adventure down the coast of Croatia to Dubrovnik',
    ],
    img: '/assets/images/mj/aztec-bus.png',
  },
];
---

<SponsorsSection
  sectionId="about"
  title="About the festival"
  precision="Talks, workshops, games & music; a festival for DAOists and Regens."
  full
  alt
>
  <div
    x-show="shown"
    class="invisible"
    x-bind:class="{ 'invisible': !shown }"
    x-transition:enter="transition ease-out duration-500"
    x-transition:enter-start="opacity-0 transform translate-y-8"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-500"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform translate-y-8"
  >
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 mt-16 items-stretch">
      {
        aboutSections &&
          aboutSections.map((section) => {
            return (
              <div class="about-card relative text-center rounded-2xl overflow-hidden p-[1px]">
                <div class="relative p-3 md:p-8 z-10 rounded-2xl flex-col h-full overflow-hidden">
									<div class="relative z-[2]">
                  <h3 class="text-xl font-semibold mb-4 flex-shrink font-sans">{section.title}</h3>
                  <ul class="text-primary mt-48 mb-0 w-full p-4 rounded-2xl backdrop-blur-sm bg-gradient-to-t from-secondary-dark-alpha-60 to-secondary-dark-alpha-30">
                    {section.items &&
                      section.items.map((item) => {
                        return <li class="text-primary text-sm"><Icon name="sea-and-sun" /> {item}</li>;
                      })}
                  </ul>
								</div>
									<div class="inner-shadow absolute -inset-3 z-[1] rounded-3xl" />
                </div>
                <img
                  src={section.img}
                  alt=""
                  class="rounded-2xl absolute inset-1 bottom-auto md:bottom-0 top-0 md:top-auto  w-full h-auto z-0"
                />
                <div class="absolute inset-[1px] rounded-2xl bg-gradient-to-b from-secondary-dark to-secondary-alpha-90  -z-[5] pointer-events-none" />
                <div class="absolute inset-0 rounded-2xl bg-gradient-to-b from-accent to-accent -z-10 pointer-events-none" />
              </div>
            );
          })
      }
    </div>
  </div>
</SponsorsSection>
