---
import { Icon } from "astro-icon";
---

<section id="about" class="section relative">
  <div class="section__content">
    <h2>About the festival</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt,
      mauris sit
    </p>
    <p>MetaFest is a crypto conference that isn’t a conference. Why? Because most people go to
      conferences not to listen to talks, but to meet like-minded people, hang out with internet
      friends & have fun. In the spirit of MetaGame, MetaFest is about much more than crypto -
      its about anything from self-improvement to world-improvement. About self-organizing &
      problem-solving.</p>
      <p>Expect talks & workshops to range on anything from DAOs & ReFi over audio & visual
      production to walking the tightrope, yoga & meditation. As opposed to normal festivals that
      you leave & wake up depressed after, we want you to leave MetaFest inspired & with clear
      goals of what you want to achieve & where you want to go.</p>
  </div>
  <div class="decoration absolute right-0 top-1/4">
    <Icon name="archway" className="w-40" />
  </div>
</section>

