---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Plants from "../widgets/Plants.astro";
---

<section id="join" class="section bg-none relative 2xl:pb-64"
  x-data="{shown: false}"
  x-intersect="shown = true"
  x-intersect:leave="shown = false"
>
  <div class="section__content relative z-20 pointer-events-none">
    <h2
    class="invisible"
    x-show="shown"
    x-bind:class="{ 'invisible': !shown, 'visible': shown }"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 transform translate-y-8"
    x-transition:enter-end="opacity-100 transform translate-y-0"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 transform translate-y-0"
    x-transition:leave-end="opacity-0 transform translate-y-8"
    >MetaFest, steadfast and manifest the future.</h2>

    <CallToAction />

  </div>

  <Plants />
</section>
