---
import CallToAction from "~/components/widgets/CallToAction.astro";
import Plants from "../widgets/Plants.astro";
---

<section id="join" class="section bg-none relative pb-64">
  <div class="section__content z-20 relative pointer-events-none">
    <h2>MetaFest, steadfast and manifest the future.</h2>

    <CallToAction />

  </div>

  <Plants />
</section>
