---
import CallToAction from "~/components/widgets/CallToAction.astro";
---

<section id="getting-there" class="section bg-none">
  <div class="section__content">
    <h2>MetaFest, steadfast and manifest the future.</h2>

    <CallToAction />

  </div>
</section>
