---
import { Icon } from "astro-icon";
// import Carousel from "~/widgets/Carousel.astro";
import Carousel from "~/components/widgets/Carousel.astro";

---
<section id="location" class="section relative z-20">
  <div class="section__content">
    <h2>Location</h2>
    <p>
    </p>
    <p class="max-w-fit 2xl:max-w-2xl mx-auto 2xl:ml-[33%]">We chose this epic, unique & historical location - a 200 years old
      fortress called Punta Christo, built to defend the city of Pula & the
      Austro-Hungarian empire’s massive navy feet harbored within.
      City of Pula itself; from the Neolithic era pottery indicating settlement
      between 6000-2000 BC, to pre-Christ era Roman monuments long
      outlasting the empire, such as the 2000+ years old Roman
      Amphitheatre, Augustus’ Temple & the Arch of Sergii.
      Other than the rich history, beautiful sights & good food, the area
      offer all kinds of activities, more below.</p>

      <Carousel />
  </div>


  <div class="decoration absolute w-3/4 2xl:w-2/12 left-16 2xl:left-72 top-10 z-0 opacity-60 2xl:opacity-100">
    <Icon name="island" className="w-full" />
  </div>
</section>
