---
import Section from "../core/Section.astro";
import Tabs from "../widgets/Tabs.astro";
---
<Section sectionId="program" class="section ">
  <div class="section__content invisible"
  x-show="shown"
  x-bind:class="{ 'invisible': !shown }"
  x-transition:enter="transition ease-out duration-500"
  x-transition:enter-start="opacity-0 transform translate-y-8"
  x-transition:enter-end="opacity-100 transform translate-y-0"
  x-transition:leave="transition ease-in duration-500"
  x-transition:leave-start="opacity-100 transform translate-y-0"
  x-transition:leave-end="opacity-0 transform translate-y-8"
  >
    <h2>Activities</h2>

    <Tabs />
  </div>
</Section>
