---
import Tabs from "../widgets/Tabs.astro";
---

<section id="program" class="section ">
  <div class="section__content">
    <h2>Activities</h2>
    <p>

    </p>

    <Tabs />
  </div>
</section>
