---
import { Icon } from "astro-icon";
---

<section id="sponsors" class="section ">
  <div class="section__content">
    <h2>Partners &amp; Sponsors</h2>
    <p>
      MetaFest will be organized in collaboration between MetaFam, MetaCartel & MetaAlliance as well as other local &
      global partner organizations
    </p>
    <p class="mb-6 text-2xl text-center max-w-2xl mx-auto">Most importantly, we want you to co-create it with us&hellip;</p>
    <p class="mb-10 text-2xl text-center max-w-2xl mx-auto">MetaFest is a celebration of the future we’re building, together&hellip;</p>

    <div class="partners-list bg-gradient-to-r from-secondary-alt via-secondary-alt to-transparent p-8 border-b-2 border-l-2 border-accent rounded-2xl">
      <ul class="grid grid-cols-5 gap-10">
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-2" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-2" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-2" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-2" class="max-w-10 h-auto" />
        </li>
        <li class="flex items-center justify-center rounded-2xl bg-gradient-to-br from-secondary via-secondary to-transparent px-8 py-6 text-center">
          <Icon name="demo-logo-1" class="max-w-10 h-auto" />
        </li>
      </ul>
    </div>
  </div>
</section>
