@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative bg-secondary-dark text-center font-sans font-normal text-base w-full min-h-screen max-w-full p-0 m-0 overflow-x-hidden;

    /* background-image: url('../images/page-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    /* .page-bg {
      @apply absolute top-0 left-0 w-full h-full z-0;
      background-color: #f5f5f5;
    } */
  }

  [x-cloak] {
    display: none;
  }

  main {
    @apply w-full min-h-screen relative z-10;
  }

  /* * {
    outline: 1px solid red;
  } */

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-secondary;

    border-radius: 2px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary transition-colors duration-300 ease-in-out opacity-70;

    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .hero {
    @apply flex items-center justify-center text-white text-4xl font-bold py-8 z-10;

    &__content {
      @apply flex flex-col md:flex-row-reverse items-end text-center z-10;

      &__primary {
        @apply text-right w-full md:w-2/3 md:space-y-3;
      }

      &__secondary {
        @apply text-right md:text-left w-full md:w-1/3;
      }
    }

    &__title {
      @apply text-3xl lg:text-7xl text-primary text-right tracking-wide;

      & + p {
        @apply text-2xl lg:text-3xl text-green-200 text-right mt-0 mb-3 font-normal;
      }
    }

    &__image {
      @apply z-0;
    }

    &__dates {
      @apply relative inline-flex items-center justify-between rounded-lg bg-gradient-primary font-sans text-white uppercase text-base md:text-lg p-0 font-bold;

      svg {
        @apply relative block w-10 h-auto mx-3 gradient-text stroke-accent;

        path {
          path: currentColor;
        }
      }

      span {
        @apply block rounded-xl bg-gradient-primary flex-shrink-0 p-3 w-auto;
      }

      &::before {
        content: '';

        @apply absolute inset-[1px] rounded-lg bg-secondary-alpha-60;
      }
    }

    .event-info {

      &__item {
        @apply opacity-70 z-0;

        &--highlight {
          @apply opacity-100 z-10;
        }

        div {
          @apply relative px-3 py-2 rounded-lg;

          & > * {
            @apply relative z-20;
          }

          p {
            @apply text-2xl font-normal uppercase leading-none space-y-0;

            span:first-of-type {
              @apply text-3xl font-bold tracking-tighter;
            }
          }

          &::after {
            content: '';

            @apply absolute inset-[3px] rounded-lg bg-gradient-alt z-10;
          }

          &::before {
            content: '';

            @apply absolute inset-[0] rounded-lg bg-gradient-primary-solid z-0;
          }
        }
      }
    }
  }

  .section {
    @apply bg-transparent py-20 xl:py-32 z-10 overflow-hidden flex items-center;

    background-image: url('../images/section-divider.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;

    @media (max-width: 1024px) {
      background-size: 100%;
    }

    &:last-of-type {
          background-image: none;
        }

    &__content {
      @apply relative w-[90%] md:max-w-5xl 3xl:max-w-7xl mx-auto z-10;

      &--alt {
        @apply relative w-[90%] xl:max-w-7xl 3xl:max-w-[75%] mx-auto z-10;

        /* p {
          &:first-of-type {
            @apply text-xl;
          }
        } */

        a {
          @apply text-primary;

          &:hover {
            @apply underline;
          }
        }
        ul {
          @apply text-left mb-6;

          li {
            @apply flex justify-start items-center space-x-3 mb-3 text-accent;

            & > svg {
              @apply flex-shrink-0 w-8 mr-3;
            }
          }
        }
      }
    }

    h2 {
      @apply mb-6 font-bold text-center text-primary text-4xl xl:text-5xl 4xl:text-7xl;
    }

    &__decoration {
      @apply z-0;
    }
  }

  .tiers,
  .expansion-packs {
    .tier,
    .expansion-pack {
      @apply mx-auto xl:mx-5 hover:cursor-pointer hover:scale-110 transform transition-all duration-300 ease-in-out h-full flex flex-col flex-1 w-full xl:w-1/2 2xl:w-1/3 mb-8 xl:mb-0;

      &__header {
        @apply flex flex-row justify-between;
      }

      ul {
        li {
          @apply flex justify-start items-center space-x-0 mb-3 text-accent w-11/12;

          & > svg {
            @apply flex-shrink-0 w-8;
          }
        }
      }
    }
  }

  .carousel {
    @apply relative w-full min-h-[66vh] md:min-h-[50vh] mt-16 md:mt-32 xl:mt-48;

    overflow: unset !important;

    .swiper-slide {
      @apply h-full;
      @apply transition-all duration-300 ease-in-out;

      &__content {
        @apply text-left py-10 flex items-center content-center bg-gradient-to-t from-secondary-dark via-secondary-dark-alpha-60 to-transparent w-full;

        svg {
          @apply translate-y-10 opacity-0 transition-all duration-300 delay-200 ease-in-out;
        }

        h4,
        p {
          @apply text-sm lg:text-lg text-primary translate-y-10 opacity-0 transition-all duration-300 delay-200 ease-in-out;
        }
      }

      &-active {
        .swiper-slide__content {
          h4,
          p,
          svg {
            @apply translate-y-0 opacity-100;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      @apply absolute top-1/2 transform -translate-y-1/2 z-20;
      @apply text-primary;

      svg {
        @apply scale-150;
      }

      &::after {
        content: '';
      }
    }

    .swiper-pagination-bullet {
      @apply w-4 h-4 bg-transparent opacity-100 border-[1px] border-primary rounded-full;

      &-active {
        @apply bg-primary;
      }
    }
  }

  .speakers-list {
    @apply mt-10;

    ul {
      @apply grid grid-cols-2  lg:grid-cols-6 gap-3 lg:gap-6;

      li {
        @apply hover:scale-105 transition-all duration-300 ease-in-out;

        &::after {
          content: '';
          @apply absolute bottom-0 left-0 w-full;

          background-image: url('../images/section-divider.png');
        }
      }

      a {
        @apply space-y-3 capitalize;
      }
    }

    picture {
      img {
        @apply w-full h-full object-cover m-0;
      }
    }
  }

  .partners-list {
    .partner {
      background-image: url('../images/hammered-bg.png');

      @apply bg-top bg-cover;
    }
  }

  .mobile-menu {
    @apply bg-gradient-to-br from-accent to-accent-alpha-60 text-slate-900 text-center backdrop-blur-xl;
  }

  .chat {
    .chat__messages {
      .chat__message {
        @apply max-w-[85%] flex flex-col items-start space-y-2 mb-3;
      }

      .chat__message__marker {
        svg {
          @apply w-[41px];
        }
      }
    }
  }

  @layer utilities {
    .bg-gradient-primary {
      @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;

      &-solid {
        @apply bg-gradient-to-r from-accent to-primary;
      }
    }

    .bg-gradient-dark {
      @apply bg-gradient-to-r from-secondary to-accent;
    }

    .bg-gradient-secondary {
      @apply bg-gradient-to-tr from-accent-alpha-60 to-primary-alpha-60;

      &-solid {
        @apply bg-gradient-to-tr from-accent to-primary;
      }
    }

    .bg-gradient-tertiary {
      @apply bg-gradient-to-t from-tertiary to-primary;
    }

    .bg-gradient-quarternary {
      @apply bg-gradient-to-r from-[#f4f49299] to-[#89c97c99];
    }

    .bg-gradient-alt {
      @apply bg-gradient-to-br from-secondary-alpha-30 to-accent-light-alpha-30;
    }

    .text-gradient-primary {
      @apply bg-clip-text text-transparent;
      @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;
    }
    .gradient-text {
      @apply text-transparent bg-clip-text;
      @apply bg-gradient-to-br from-pink-300 via-teal-300 to-violet-700;
    }

    #gradient-horizontal {
      --color-stop-1: #a770ef;
      --color-stop-2: #cf8bf3;
      --color-stop-3: #fdb99b;
    }

    .icon-gradient {
      @apply stroke-current;
    }
  }
}
