@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply relative bg-secondary text-center font-sans font-normal text-base w-full min-h-screen max-w-full p-0 m-0 overflow-x-hidden;

    background-image: url('../images/page-bg.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* .page-bg {
      @apply absolute top-0 left-0 w-full h-full z-0;
      background-color: #f5f5f5;
    } */
  }

  main {
    @apply w-full min-h-screen relative z-10;
  }

  /* * {
    outline: 1px solid red;
  } */

  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-accent dark:bg-secondary;

    border-radius: 2px;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-primary transition-colors duration-300 ease-in-out opacity-70 ;

    border-radius: 2px;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500 dark:bg-accent
  }
}

@layer components {
  .container {
    @apply mx-auto px-4;
  }

  .hero {
    @apply flex items-center justify-center text-white text-4xl font-bold py-8 z-10;

    &__content {
      @apply flex flex-row-reverse items-end text-center z-10;

      &__primary {
        @apply text-right w-1/2;
      }

      &__secondary {
        @apply text-left w-1/2;
      }
    }

    &__title {
      @apply text-5xl text-primary text-right tracking-widest;

      & + p {
        @apply text-3xl text-green-200 text-right mb-3 font-normal;
      }
    }

    &__image {
      @apply z-0;
    }
  }

  .section {
    @apply bg-transparent min-h-[66vh] z-10;

    background-image: url('../images/section-divider.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 50%;

    &__content {
      @apply relative w-[90%] 2xl:max-w-7xl mx-auto py-24 z-10 ;

      div {
        p {
          @apply text-center;
        }
      }
    }

    h2 {
      @apply mb-6 font-bold text-center text-primary text-4xl 2xl:text-5xl;
    }

    p {
      @apply mb-3;
    }

    &__decoration {
      @apply z-0
    }
  }

  .carousel {
    @apply relative w-full min-h-[50vh] mt-32 2xl:mt-52;

    overflow: unset !important;

    .swiper-slide {
      @apply h-full;
      @apply transition-all duration-300 ease-in-out;

      &__content {
        @apply text-left pb-10 flex items-center bg-gradient-to-t from-accent-alt to-transparent w-full;

        svg {
          @apply translate-y-10 opacity-0 transition-all duration-300 delay-200 ease-in-out;
        }

        h4, p {
          @apply text-lg text-primary translate-y-10 opacity-0 transition-all duration-300 delay-200 ease-in-out;
        }
      }

      &-active {
        .swiper-slide__content {
          h4, p, svg {
            @apply translate-y-0 opacity-100;
          }
        }
      }
    }


    .swiper-button-next,
    .swiper-button-prev {
      @apply absolute top-1/2 transform -translate-y-1/2 z-20;
      @apply text-primary;

      svg {
        @apply scale-150;
      }

      &::after {
        content: '';
      }
    }

    .swiper-pagination-bullet {
      @apply w-4 h-4 bg-transparent opacity-100 border-[1px] border-primary rounded-full;

      &-active {
        @apply bg-primary;
      }
    }
  }

  .speakers-list {

    ul {
      @apply grid grid-cols-6 gap-6;

      li {
        @apply hover:scale-105 transition-all duration-300 ease-in-out;
      }

      a {
        @apply space-y-3 capitalize;
      }
    }

    picture {
      img {
        @apply w-full h-full object-cover m-0;
      }
    }
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;
  }

  .bg-gradient-secondary {
    @apply bg-gradient-to-tr from-accent-alpha-60 to-primary-alpha-60;
  }

  .text-gradient-primary {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-r from-accent-alpha-60 to-primary-alpha-60;
  }
  .gradient-text {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-br from-pink-300 via-teal-300 to-violet-700;
  }
}